<a href="https://colab.research.google.com/github/juanespanaudea/Caso-de-estudio-Marketing/blob/main/base_de_Datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import sqlite3 as sql
import pandas as pd

In [ ]:
conn=sql.connect("/content/drive/MyDrive/cod/db_movies") ### conexi√≥n con bd

In [ ]:
cur=conn.cursor() ### para ejecutar en consultas en bd

In [ ]:
cur.execute("select name from sqlite_master where type= 'table'") ## para ver tablas de un bd
cur.fetchall()  ## para traer resultados de consulta anterior con cur

[('ratings',), ('movies',), ('ratings_copia',), ('ratings3',)]

In [ ]:
df= pd.read_sql("select * from ratings", conn) ### convertir resultados de una consulta en una tabla de pandas
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100836 entries, 0 to 100835
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     100836 non-null  int64
 1   movieId    100836 non-null  int64
 2   rating     100836 non-null  float64
 3   timestamp  100836 non-null  int64
dtypes: float64(1), int64(3)
memory usage: 3.1 MB

In [ ]:
df.to_sql('ratings_copia',conn, if_exists='replace' ) ## llevar tabla de pandas a base de datos

100836

In [ ]:
cur.execute("""create table ratings4 as
 select * from ratings
 where userId=1""") ### crear tablas en la base de datos